body {
  /* custom font */
  font-family: 'Noto Sans JP', sans-serif;

  /* background pattern */
  opacity: 1;
  background-image: radial-gradient(#001e3c 1.6px, #ffffffdb 1.6px);
  background-size: 4px 4px;

  /* custom */
  font-size: 1em;
  line-height: 1.8;
  word-wrap: break-word;
}

.logo__title,
.logo__tagline {
  font-family: 'Zen Kurenaido', sans-serif;
}

.logo__title,
.logo__tagline,
body,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001e3c;
}

.logo__tagline {
  border-top-style: none;
}

.menu,
.menu__list,
.btn,
.footer {
  background-color: #001e3c;
}

.sidebar .widget__title {
  border-bottom: 1px solid #001e3c;
}

/* header decoration */
.post:not(.list__item) h2:after {
  content: '';
  display: block;
  background: -webkit-linear-gradient(to right, #001e3c, #bcd7ea);
  background: linear-gradient(to right, #001e3c, #bcd7ea);
  height: 1px;
}

.post:not(.list__item) h2,
.post:not(.list__item) h3 {
  margin-top: 2em;
}
.post:not(.list__item) h4 {
  margin-top: 1em;
}

/* markdown */

code {
  color: #014d99;
}

/* sns share buttons */
.sns_parent {
  text-align: center;
  margin-bottom: 2em;
}

.sns_section {
  display: inline-block;
  text-align: left;
}
.sns_button {
  float: left;
  box-shadow: inset 0 0 0 2px #42464c;
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #42464c;
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px #eaeaea;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1b95e0;
}

.facebook:hover a {
  color: #3b5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #ee4056;
}

.hatena:hover a {
  color: #4ba3d9;
}

.fa-hatena:before {
  content: 'B!';
  font-family: Verdana;
  font-weight: bold;
}

/* amazon widget */
.amazon-widget {
  margin: 2rem 0;
  max-width: 480px;
  position: relative;
}
.amazon-widget a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.amazon-widget-img {
  border: 1px solid #e1e8ed;
  border-radius: 15px 15px 0 0;
  text-align: center;
}
.amazon-widget-img img {
  border: none;
  margin: 0 auto;
  max-height: 200px;
  padding: 16px;
}
.amazon-widget-info {
  border-right: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  padding: 5px 10px 10px 10px;
  border-radius: 0 0 15px 15px;
}
.amazon-widget:hover .amazon-widget-info {
  background-color: #e1e8ed;
}
.amazon-widget-title {
  font-weight: bold;
  display: block;
}
.amazon-widget-via {
  color: #aaa;
}
.amazon-widget-via img {
  border: none;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: text-bottom;
}
